<form action="/contactos/lista/{{user.id}}" method="GET"></form> 
{{#each enlistar}}
<div>
    <div class="row">
        <div class="card-body">
            <div>
                <h1>
                    Contacto Familiar:
                </h1>
            </div>
            <div>
                <h2>
                    Nombre: {{nombre}}
                </h2>
                <h2>

                </h2>
            </div>
            <div>
                <h2>
                    Parentesco: {{familiar}}
                </h2>
                <h2>

                </h2>
            </div>
            <div>
                <h2>
                    Teléfono: {{telefono}}
                </h2>
                <h2>

                </h2>
            </div>
            <div>
                <h2>
                    Celular: {{celular}}
                </h2>
                <h2>

                </h2>
            </div>
            <div>
                <button>
                    <a href="/contactos/editar/{{id}}">Editar</a>
                </button>
            </div>
            <div>
                <button>
                    <a href="/contactos/eliminar/{{id}}">Eliminar</a>
                </button>
            </div>
        </div>
    </div>
</div>
{{/each}}